/*
   Configuration File
   Rename me into config.h and set up
*/

#define WIFI_HOSTNAME "wall-switch"
#define WIFI_SSID "WIFI-SSID"
#define WIFI_PASSWORD "WIFI-PASS"

#define MQTT_HOST "home"
#define MQTT_PORT 1883
#define MQTT_USER "user"
#define MQTT_PASS "pass"

#define MQTT_TOPIC "room/wall_switch"
#define MQTT_MSG "TOGGLE"

#define PRESS_PIN 0
